.frugo__new-shipment
  .frugo__instructions
    For length, width, and height, use centimeters.  For weight, use grams.

  - if @shipment.errors.any?
    %ul
      - @shipment.errors.full_messages.each do |message|
        %li
          = message

  = form_for @shipment, :url => {:controller => 'shipments', :action => controller_action} do |f|
    %fieldset.package-form__fieldset
      %legend
        Origin
      .package-form__input
        = f.text_field( :name, :placeholder => "name" ) 
      .package-form__input
        = f.text_field( :origin_country, :placeholder => "origin country" )
      .package-form__input
        = f.text_field( :origin_city, :placeholder => "origin city" )
      .package-form__input
        = f.text_field( :origin_state, :placeholder => "origin state" )
      .package-form__input
        = f.text_field( :origin_postal_code, :placeholder => "origin postal code" )
    %fieldset.package-form__fieldset
      %legend
        Destination 
      .package-form__input
        = f.text_field( :country, :placeholder => "country" )
      .package-form__input
        = f.text_field( :city, :placeholder => "city" )
      .package-form__input
        = f.text_field( :state, :placeholder => "state" )
      .package-form__input
        = f.text_field( :postal_code, :placeholder => "postal code" )
    %fieldset.package-form__fieldset
      %legend
        Package Dimensions
      .package-form__input
        = f.text_field( :length, :placeholder => "length" )
      .package-form__input
        = f.text_field( :width, :placeholder => "width" )
      .package-form__input
        = f.text_field( :height, :placeholder => "height" )
      .package-form__input
        = f.text_field( :weight, :placeholder => "weight" )
      .package-form__input
        = f.label( :cylinder, "cylinder?" )
        = f.check_box :cylinder
    .package-form__input
      = f.submit